* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #f4f6f8;
    color: #333;
}

/* HEADER & NAV */
header {
    text-align: center;
    padding: 30px 0 10px;
}

header h1 {
    margin-bottom: 10px;
    
}


/* CONTAINER UTAMA */
.container {
    max-width: 900px;       
    margin: 60px auto;       
    padding: 0 20px;
    text-align: center;
    font-size: 20px;

}

/* JUDUL & TAGLINE */
.container h2 {
    font-size: 38px;
    margin-bottom: 5px;
    padding-top: 50px;

}

.tagline {
    color: #666;
    margin-bottom: 50px;
}

/* SUB JUDUL */
.container h3 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 22px;
    
}

.container h4 {

    font-size: 22px;
    margin-top: 55px;
}

/* PARAGRAF ABOUT */
.about-text {
    line-height: 1.8;
    color: #333;
    
}

.about-paragaraf1 {
    text-align: justify;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 14px;
    color: #777;
}

body {
    margin: 0;
    padding: 0;
    background: #f4f6fb;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px;
}

.dashboard a {
    background: #ffffff;
    height: 200px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* Responsive */
@media (max-width: 1024px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}
 
/* Hover effect dashboard box */
.dashboard a {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.dashboard a:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}
