.home2 ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.cardsets {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.news_header .more a {
    text-decoration: none;
    color: #000;
}

.news_header .more a:hover {
    text-decoration: underline;
}

.cardsets:hover {
    transform: scale(1.01); /* NGANGKAT (MEMBESAR) */
    box-shadow:
    0 24px 64px rgba(0,0,0,0.22),
    0 8px 24px rgba(0,0,0,0.12);
}

.cardsets a {
    text-decoration: none;
    color: #000;
    display: block;
}

.cardsets .thumb img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cardsets .thumb_info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardsets .date {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.cardsets h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;   /* INI seperti spasi 1,5 di Word */
    margin: 0;
}