.newest_news .news_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.newest_news {
    display: flex;
    flex-direction: column;
}

.newest_news ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd; /* GARIS PALING ATAS */
}

.newest_news li {
    margin-bottom: 8px;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.newest_news .flex_news {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 40px;
}

.newest_news a {
    text-decoration: none;
    color: #000;
    align-items: center;
}

.newest_news a:hover {
    text-decoration: underline;
}

.newest_news .date {
    font-weight: bold;
    white-space: nowrap;
}

.newest_news .more {
    cursor: pointer;
    font-weight: bold;
}
