* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.home1 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;   /* INI pengganti body padding */
}

.hero-bg {
    width: 100%;
    height: 100vh;     /* atau 500px */
    margin-bottom: 80px; /* JARAK ke news */

    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; /* WAJIB untuk ::after */   
}

/* Gradient overlay */
.hero-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        #fff
    );
}